.git
**/.git
**/node_modules
**/dist
**/.pnpm-store
**/.dart_tool
**/build
**/.idea
**/.DS_Store
front
landing
mobile
docs
*.html
front/node_modules
front/dist
mobile/.dart_tool
backend/node_modules
backend/dist
